

.images{
    width: 100%;
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 
    margin-top: 10vh;
}
.carousel{display: flex;}


.images img{
    height: 150px;
    width: auto;
    margin-left: 35px;
    transition: transform .3s;
}

.images img:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40svh;
}

.banner .content-box{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin-left: 4rem;
    width: 20%;
    height: 20svh;
    margin-left: 4.5vw;
    padding-left: 1.75%;
}



.content-box h1{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content-box ul{
    width: 93%;
    height: 18svh;
    margin-left: auto;
    margin-right: auto;
}

.content-box ul li{
    margin-bottom: 0.5rem;
}


.content-box ul li a{
    text-decoration: none;
    color: #000000;
    width: 80%;
    transition: .3s;
}

.content-box ul li a:hover{
    color: #00A19B;
    transition: .3s;
}

.media{
    padding: 0 40vw;
    height: 3svh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.TheNorthRace{
    font-size: 0.9rem;
    width: 100%;
    height: 15svh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #656D72;
}

.carousel-button  {
    margin: 5vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5vw 1vw;
    background-color: #000000;
    color: white;
    font-weight: 600;
    border: 1px solid #000000;
    margin-left: 80px;
}
.carousel-button:hover  {
  
    background-color: white;
    color:   #00A19B;;
}

.images-container{
    display: flex;
    width: 80%;
    padding-bottom: 100px;
    padding-left: 80px;

}

.carousel-container {
    margin-top: 100PX;
    display: flex;
    width: 100%;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    align-items: center;
    height: 300px;

}
.images {
    display: flex;
}

.hidden {
    display: none;
}

