
/* SCROLLBAR */
::-webkit-scrollbar {
    width: 1.75vh;
}
::-webkit-scrollbar-track {
    background-color: #E5E5E5;
}
::-webkit-scrollbar-thumb {
    background-color: #232E35;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #161f24;
}

header{
    
    width: 100%;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    height: 6rem;
    margin-left: -2rem;
}

header .wrapper{
    width: 22%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#headerNav{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: 0 5% 0 3%;
    z-index: 10;
    height: 100%;
    align-items: center;
}

#headerNav a{
    color: #232E35;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
   

}

#headerNav a:hover{
    color: #00A19B;
    font-size: 1.1rem;
}

.connection{
    width: 22%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.connection a{
    padding: 1rem 2rem;
    background-color: #232E35;
    border: solid 1px #232E35;
    color: #F1F1F1;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: .9rem;
}

.connection a:hover{
    background-color: #13191c;
    border: solid 1px #232E35;
    color: #F1F1F1;
}

.connection a:first-child{
    color: #232E35;
    background-color: #FFFFFF;
    border: solid 1px #F1F1F1;
}

.connection a:first-child:hover{
    color: #232E35;
    background-color: #f0f0f0;
    border: solid 1px #F1F1F1;
}
li a {
    text-decoration: none;
    color: inherit;
}
.hovEcu {
    display: none;
    height: 58vh;
    width: 100%;
    color: white;
    background-color: #15151E;
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0; 
}




.toutes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:80%;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    margin-left: 200px;
}
.f1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #434346; 
    border-bottom: 1px solid #434346; 
    box-shadow: 5px 0 5px -5px #11111111, 0 5px 5px -5px #11111111;
    border-radius: 0px  0px 20px 0px;
    margin-right: 1px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 250px;
    height: 100px;
    margin-left: 30px;
}

.a-f1{
    text-decoration: none; /* Supprimer le soulignement du lien */
    color: inherit; /* Utiliser la couleur par défaut du texte */
}


.img-f1{
    margin-left: 10px;
    width: 200px;
    height: 200px;
}

.ecuries-background {
           
    width: 50px; /* Ajustez la largeur du fond selon vos besoins */
    height: 20px; /* Ajustez la hauteur du fond selon vos besoins */
    position: absolute;
    margin-top: 65px;
    z-index: -1; /* Assurez-vous que le z-index est inférieur à celui de .ecurie */
}


.navSecondary{
    display: none;
    top: 0;
    background: #15151e;
    position: absolute;
    left: 0;
    z-index: 101;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 2px 0 0 rgba(0,0,0,.2);
    color: white;
}

.nav-header h1 span{
    color: red;
}
.color-bar-pilot{
    padding: 3px; margin-right: 15px;
}

.nav-width{
    max-width: 1500px;
    margin: auto;
}
.nav-content{
    padding-top: 40px;
    padding-bottom: 40px;
}

.nav-header{
    border: 1px solid #67676d;
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: 10px;
    margin: 10px 15px;
    margin-bottom: 50px;

}


.nav-list ul{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.nav-list li{
    width: 25%;
    padding: 0 15px 9px 15px;
    box-sizing: border-box;
    align-self: flex-start;
}

.nav-list li p{
    position: relative;
    display: block;
    padding: 10px 32px 10px 26px;
    position: relative;
    border: 1px solid #67676d;
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: 10px;
    min-height: 25px;
}





.spe{
    position: absolute;
    right: 0;
    padding-right: 15px;
    font-size: 20px;
}

