*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
  }
  
  body{
    width: 100vw;
  }


  
  
  /* ------------------navbar---------------- */
  
  
  .navbar {
    position: relative;
    z-index: 999;
    height: 8.5vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0px 8px 8px -6px rgba(50, 50, 50, 0.50);
  }



  
  .logout{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }
  
  .navbar h1 span{
    color: #1162db;
  }
  
  .logout a{
    color: #373737;
    margin-left: 5px;
    transition: 0.3s;
  }

  
  .logout:hover a{
    color: #1162db;
    transition: 0.3s;
  }

  nav button{
    color: #373737;
    transition: 0.3s;
    font-weight: 600;
    border: none;
    background: none;
  }

  
  nav button:hover{
    color: #1162db;
    transition: 0.3s;
    cursor: pointer;
  }

button.active{
    color: #1162db;
  }

  
   /* ------------------Corp---------------- */


   .affichage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 91.5svh; 
   }
  
   .print-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 90%;
    width: 90%;
    border-radius: 0.85rem;
    box-shadow: 1px 1px 3px -1px rgb(0, 0, 0);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;  /* Firefox */
    scrollbar-size: auto;
   }

  nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 80%;
  }


  nav a{
    color: #373737;
    transition: 0.3s;
  }

  nav a:hover{
    color: #1162db;
    transition: 0.3s;
  }

.pilot{
  width: 90vw;
  height: 5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid grey;
}

.topbar{
  display: flex;
  width: 90vw;
  height: 5rem;
  background-color: rgb(22, 22, 22);
  color: white;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.topbar li{
  margin-left: 2vw;
  list-style: none;
  font-size: 1.1rem;
  font-weight: 600;
}

.topbar li:first-child{
  margin-left: 4vw;
}


.topbar button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.25vw;
  background-color: #1162db;
  height: 2.5vw;
  border-radius: 0.5rem;
  border: 1px solid #1162db;
  margin-left: auto;
  margin-right: 2vw;
  transition: .3s;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.1rem;
}

.topbar button:hover{
  background-color: #246bd7;
  border: 1px solid #246bd7;
  transition: .3s;
  transform:scale(1.07);
}

.topbar button img{
  width: 1.2vw;
  margin-left: 1vw;
}

.pilot h2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 5%;
  margin-left: 2vw;
}

.pilot h3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
  font-weight: 500;
  font-size: 0.9rem;
}


.pilot p{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  margin-right: 1rem;
  margin-left: 1vw;
}

.pilot p span{
  font-weight: 600;
  margin-left: 0.5rem;
}

.pilot div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
  width: 0.8rem;

}

.updt{
  width: 5.75%;
  background-color: rgb(17, 90, 6);
  height: 70%;
  border-radius: 0.5rem;
  border: 1px solid rgb(17, 90, 6);
  margin-left: auto;
  margin-right: 1rem;
  transition: .3s;
}

.updt:hover{
  background-color: rgb(21, 104, 8);
  border: 1px solid rgb(17, 90, 6);
  transition: .3s;
  transform:scale(1.07);
}

.delete{
  width: 5.75%;
  height: 70%;
  background-color: rgb(167, 24, 24);
  border-radius: 0.5rem;
  border: 1px solid rgb(167, 24, 24);
  margin-right: 2vw;
  transition: .3s;
}

.delete:hover{
  background-color: rgb(191, 20, 20);
  border: 1px solid rgb(167, 24, 24);
  transition: .3s;
  transform:scale(1.07);
}

.updt img{
  width: 32%;
}

.delete img{
  width: 32%;
}
  
  @keyframes apparitiontitre {
  
  100%{
    opacity: 100%;
    transform: none;
  }
  
  
  }