*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
  }
  
  body{
    width: 100vw;
  }


  
  
  /* ------------------navbar---------------- */
  
  
  .navbar {
    position: relative;
    z-index: 999;
    height: 8.5vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0px 8px 8px -6px rgba(50, 50, 50, 0.50);
  }

  .nav-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    font-weight: 500;
  }

  .nav-content a{
    color: #2264c7;
  }
  
  .logout{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }
  
  .navbar h1 span{
    color: #1162db;
  }
  
  .logout a{
    color: #373737;
    margin-left: 5px;
    transition: 0.3s;
  }

  
  .logout:hover a{
    color: #1162db;
    transition: 0.3s;
  }
  
   /* ------------------Corp---------------- */


   .affichage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 91.5svh; 
   }
  
   .print-box{
    height: 90%;
    width: 90%;
    border-radius: 0.85rem;
    box-shadow: 1px 1px 3px -1px rgb(0, 0, 0);
   }

  nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 80%;
  }


  nav a{
    color: #373737;
    transition: 0.3s;
  }

  nav a:hover{
    color: #1162db;
    transition: 0.3s;
  }
  
  @keyframes apparitiontitre {
  
    100%{
        opacity: 100%;
        transform: none;
    }
  
  
  }