*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    outline: none;
  }

  .update{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }

  .update h1{
    text-align: center;
    width: 50%;
  }

  .update form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: 90%;
}


  .update form input{
    background-color: #F3F3F3;
    color: #000000;
    width: 78%;
    padding: 1rem 1.5rem;
    margin: 1rem 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid grey;
  }

  .update form input::placeholder{
    color: #000000;
}

.update input[type="submit"]{
    background-color: #2D2D2D;
    font-weight: 600;
    color: white;
    font-size: 1.1rem;
    width: 21%;
    border-radius: 0.5rem;
    border: solid 1.5px #2D2D2D;
}

.update input[type="submit"]:hover{
    background-color: white;
    color: #2D2D2D;
    border: solid 1.5px #2D2D2D;
}