<?php
session_start();

if (!isset($_SESSION['admin'])) {
    header('Location: ./vue/login.php');
    exit();
}
?>
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="icon" href="./ressource/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="./js/app.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <div class="navbar">
    <h1>RUSTY<span>CAR</span></h1>
    <div class="deco">
        <div class="lock"></div>
        <a class="txt" href="./controller/logout.php">Se déconnecter</a>
    </div>
    </div>
    <div class="corp">
        <div class="menu">
            <div class="idadmin">
            <p>@Root_Admin</p>
            </div>
                    <div class="bloc1">
                        <a href="#" class="menu-link">
                        <img src="./ressource/images/index/fleche.svg" alt="images fleche" class="image-align-left" />
                        Produits
                        </a>

                        <div class="dropdown-menu">
                            <div class="lesnav">
                                <a href="./vue/ajout_produit.php" class="nav-link load-view">Ajouter un produit</a>
                                <a href="./vue/modifier-produit.php" class="nav-link load-view">Modifier un produit</a>
                                <a href="./vue/supp_produit.php" class="nav-link load-view">Supprimer un produit</a>
                                <a href="./vue/produit_phare.php" class="nav-link load-view">Les produits phares</a>
                            </div>
                        </div>
                    </div>

                    
                    <div class="bloc1">
                        <a href="#" class="menu-link">
                        <img src="./ressource/images/index/fleche.svg" alt="images fleche" class="image-align-left" />
                        Catégories
                        </a>

                        <div class="dropdown-menu">
                            <div class="lesnav">
                                <a href="./vue/ajout_categorie.php" class="nav-link load-view">Ajouter une catégorie</a>
                                <a href="./vue/modifie_categorie.php" class="nav-link load-view">Modifier une catégorie  </a>
                                <a href="./vue/sup_categorie.php" class="nav-link load-view">Supprimer une catégorie </a>
                            </div>
                        </div>
                    </div>

                    <div class="bloc1">
                        <a href="#" class="menu-link">
                        <img src="./ressource/images/index/fleche.svg" alt="images fleche" class="image-align-left" />
                        Commandes
                        </a>

                        <div class="dropdown-menu">
                            <div class="lesnav">
                                <a href="#" class="nav-link">Commande en cours</a>
                            </div>
                        </div>
                    </div>

                    <div class="bloc1">
                        <a href="#" class="menu-link">
                        <img src="./ressource/images/index/fleche.svg" alt="images fleche" class="image-align-left" />
                        Messagerie
                        </a>

                        <div class="dropdown-menu">
                            <div class="lesnav">
                            <a href="./vue/afficher_message.php" class="nav-link load-view">Boite de reception</a>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
    <div class="affichage"></div>
    </div>




</body>
</html>
