*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	overflow-x: hidden;
}

.interBloqueGaucheG {

	width: 40%;
	flex-direction: column;
	justify-content: center;
	line-height: 27px;

}
.interBloqueGaucheG > h3:not(:first-child) {
	padding-top: 5px;
}

.interBloqueGaucheD {
	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: 27px;
	font-size: 20px;
	margin-left: 60px;
	gap: 5px;

}
.img-f1{
    padding-top: 35px;
}
.a-f1{margin-top: 25px;}	


main{
	display: flex;
}
.ecurie-background {
	width: 3px;
	height: 250px; 
	margin-right: 20px;
	margin-left: 40px;
}

.trait{display: flex;margin-top: 80px;
} 


.BoqueGauche{
	margin-left: 100px;
	width: 50%;
	display: flex;
	flex-direction: column;
}

.pilote{width: 50%;}
.wrap{
	display: flex;
	align-items: flex-start;
	width:80%;

}

.BoqueDroite {
	width: 50%;
	display: flex; 
	flex-wrap: wrap;
}

.imgPil{
	height: 17vw;
	width: auto;
}

img{height: 100%;}

.interBloqueDroiteG {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start; /* Ajout de l'alignement des éléments au début */
	padding-left: 15px;
	font-size: 30px;
	padding-top: 20px; 
}

.interBloqueDroiteG :first-child {
	margin-bottom: 15px;
}

.photobas{
	width: 100vw;
	height: 42.5vw;
	margin-top: 80px;
	background-image: url("../images/f1.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.last-imgPil {
	margin-left: -6px;  background-repeat: no-repeat;
	background-size: contain;
}