*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    transition: .3s;
    outline: none;
}

header{
    width: 100vw;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    height: 6rem;
    margin-left: -2rem;
}

header .wrapper{
    width: 22%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#headerNav{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: 0 5% 0 3%;
    z-index: 10;
}

#headerNav a{
    color: #232E35;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600
}

#headerNav a:hover{
    color: #00A19B;
    font-size: 1.1rem;
}

.connection{
    width: 22%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.connection a{
    padding: 1rem 2rem;
    background-color: #232E35;
    border: solid 1px #232E35;
    color: #F1F1F1;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: .9rem;
}

.connection a:hover{
    background-color: #13191c;
    border: solid 1px #232E35;
    color: #F1F1F1;
}

.connection a:first-child{
    color: #232E35;
    background-color: #FFFFFF;
    border: solid 1px #F1F1F1;
}

.connection a:first-child:hover{
    color: #232E35;
    background-color: #f0f0f0;
    border: solid 1px #F1F1F1;
}

.firstSection{
    
    background-image: url("../images/LasVegasTrack.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 94svh;
    color: white;
    display: flex;
    align-items: center;
}

.firstSection .wrapper{
    margin-top: -20%;
    padding-top: 2rem;
    padding-left: 2rem;
    background-color: #28282878;
    width: 45%;
    height: 47%;
    max-height: 60svh;
    margin-left: 5rem;
}

.firstSection h1{
    font-size: 2rem;
    margin-top: .75rem;
}

.firstSection h3{
    font-size: 0.8rem;
    margin-left: 2.05rem;
    font-weight: 600;
    letter-spacing: 1.75px;
}

.firstSection span{
    color: #00A19B;
}

.firstSection h3::before{
    content: "";
    position: relative;
    left: -2rem;
    top: 0.57rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 1rem;
    height: 0.15rem;
}

.firstSection p{
    font-size: 0.9rem;
    margin-top: 1rem;
    font-weight: 500;
    letter-spacing: 1.75px;
    line-height: 2rem;
    width: 90%;
}

.socialMedia{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.socialMedia img{
    width: 1rem;
}

.secondSection{
    background-color: #F1F1F1;
}


.secondSection #championshipNav{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 7svh;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.5rem;
}

#championshipNav a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    text-decoration: none;
    color: #232E35;
    transition: .3s;
}

#championshipNav a:hover{
    color: #00A19B;
    transition: .3s;
}

.podium{
    width: 100vw;
    flex-wrap: wrap;
    height: 40svh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    background-color: #F2F1F1;
}



.bk{
    background: linear-gradient(90deg, black, rgb(41, 41, 41) , rgb(62, 62, 62) , rgb(41, 41, 41), black);
    width: 100vw;
    height: 40svh;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
}

.first{
    margin-top: -27svh;
    z-index: 100;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    width: 25vw;
    height: 20vw;
    border-radius: 15px 15px 0 0;
}

.podium img{
    z-index: 160;
    width: 20vw;
    height: 20vw;
    position: relative;
    top: 8vw;
    object-fit:contain;
}

.first .white{
    display: flex;
    align-items: flex-end;
    background-color: #ffffff;
    z-index: 150;
    width: 25vw;
    height: 15vw;
    border-radius: 0.8rem 0.8rem 0 0;
}

.first .black{
    background: #232E35;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 25vw;
    height: 7vw;
    border-radius: 0 0 15px 15px;
}

.black h2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    font-size: 1.25rem;
    margin-left: 1vw;
    width: 20vw;
    height: 2.5vw;
}

.black h1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 1vw;
    width: 15vw;
    height: 2vw;
    margin-bottom: 2vw;
}

.color{
    width: 25vw;
    height: 0.75rem;
}





/* SECOND ET TROISIEME PILOTES */




.first{
    margin-top: -27svh;
    z-index: 100;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    width: 25vw;
    height: 20vw;
    border-radius: 15px 15px 0 0;
}

.first .white{
    display: flex;
    align-items: flex-end;
    background-color: #ffffff;
    z-index: 150;
    width: 25vw;
    height: 15vw;
    border-radius: 0.8rem 0.8rem 0 0;
}

.first .black{
    background: #232E35;
    width: 25vw;
    height: 7vw;
    border-radius: 0 0 15px 15px;
}





/* SECOND PILOTE */





.second, .third{
    margin-top: -27svh;
    z-index: 100;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    width: 22.5vw;
    height: 20vw;
    border-radius: 15px 15px 0 0;
}

.second .white, .third .white{
    display: flex;
    align-items: flex-end;
    background-color: #ffffff;
    z-index: 150;
    width: 22.5vw;
    height: 15vw;
    border-radius: 0.8rem 0.8rem 0 0;
}

.second .black, .third .black{
    background: #232E35;
    width: 22.5vw;
    height: 7vw;
    border-radius: 0 0 15px 15px;
}

.second .color{
    /* background-color: #3671C6; */
    width: 22.5vw;
    height: 0.75rem;
}

.third .color{
    /* background-color: #2EAFAA; */
    width: 22.5vw;
    height: 0.75rem;
}

.standing{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #F2F1F1;
    margin-top: 10vw;
    width: 100vw;
    /* height: 80svh; */
    height: auto;
    padding-bottom:2vw;
}

.pilot{
<<<<<<< HEAD
    overflow: hidden;
    /* cache la barre de scroll quand on zoom trop sur la liste des pilotes */
    /* overflow: auto; */
=======
>>>>>>> 6e475f907ff970a700d961cacef770558ab92cb8
    width: 80vw;
    height: 5vw;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.pilot h2{
    vertical-align: middle;
    margin-left: 2vw;
    margin-right: 2vw;
<<<<<<< HEAD
    width: 20px;
    /* background-color: #00A19B; */
=======
    width: 1%;
>>>>>>> 6e475f907ff970a700d961cacef770558ab92cb8
}

.pilot h3{
    margin-left: 1vw;
    font-weight: 500;
    font-size: 0.9rem;
}

.pilot p{
    margin-left: 1vw;
}

.pilot .teamcolor{
    
    margin-left: 6px;
    width: 10px;
    height: 22px;
    border-radius: 10px;
    /* content: "";
    position: relative;
    left: 2rem;
    top: -1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0.35vw;
    height: 1.25vw; */
    /* background-color: #3671C6; */
}

.pilot p span{
    font-weight: 600;
}

.pilot .points{
    margin-left: auto;
    margin-right: 1vw;
    padding: 0.2rem 1rem;
    border-radius: 0.6rem;
    background-color: #D9D9D9;
}

.pilot img{
    margin-right: 1vw;
}

button{
    margin: 5vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5vw 1vw;
    margin-left: 20vw;
    margin-right: 20vw;
    background-color: #000000;
    color: white;
    font-weight: 600;
    border: 1px solid #000000;
}

button img{
    margin-left: 0.5vw;
}

.grandPrix{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70svh;
    width: 100vw;
    background-color: #15151E;
    color: white;
}

.gpChild{
    border-right: 1px solid #434346;
    border-bottom: 1px solid #434346;
    width: 15vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.gpChild img{
    width: 3.75vw;
    height: 2.5vw;
}

.gpChild h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    font-size: 2rem;
    margin: 1vw 0;
}

.gpChild h2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-top: 1vw;
}

.gpChild + .active{
    width: 40vw;
    z-index: 100;
    text-align: center;
}

.gpChild + .active img{
    width: 4.5vw;
    height: 2.7vw;
}

.gpChild + .active .daysContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 15vw;
    
}

.gpChild + .active .day{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 10vw;
    margin: 0 1vw;
}

.gpChild + .active .content{
    height: 7vw;
}

.gpChild + .active .content p{
    font-weight: 600;
    font-size: 0.9rem;
    background-color: #8c8c9065;
    padding: 0.5vw 0.7vw;
    border-radius: 1vw;
    margin: 0.7vw 0;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100vw;
    height: 100svh;
}

.contact p {
    width: 50%;
    height: 100%;
    padding: 4% 4%;
}

.contact form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 50%;
    height: 100svh;
    padding: 4% 0;
}

.contact form input{
    background-color: #F3F3F3;
    color: #000000;
    width: 80%;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
}

.contact form input::placeholder{
    color: #000000;
}

.contact input[type="button"]{
    background-color: #2D2D2D;
    font-weight: 600;
    color: white;
    font-size: 1.1rem;
    width: 21%;
    border-radius: 0.5rem;
    border: solid 1.5px #2D2D2D;
}

.contact input[type="button"]:hover{
    background-color: white;
    color: #2D2D2D;
    border: solid 1.5px #2D2D2D;
}

textarea{
    background-color: #F3F3F3;
    color: #000000;
    width: 80%;
    height: 45%;
    padding: 1rem 1.5rem;
    max-width: 80%;
    min-width: 80%;
    min-height: 45%;
    max-height: 45%;
    border: none;
}

.contact form textarea::placeholder{
    color: #000000;
}

.images{
    width: 100vw;
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}


.images img{
    height: 45%;
    transition: transform .3s;
}

.images img:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40svh;
}

.banner .content-box{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin-left: 4rem;
    width: 20%;
    height: 20svh;
    margin-left: 4.5vw;
    padding-left: 1.75%;
}



.content-box h1{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content-box ul{
    width: 93%;
    height: 18svh;
    margin-left: auto;
    margin-right: auto;
}

.content-box ul li{
    margin-bottom: 0.5rem;
}


.content-box ul li a{
    text-decoration: none;
    color: #000000;
    width: 80%;
    transition: .3s;
}

.content-box ul li a:hover{
    color: #00A19B;
    transition: .3s;
}

.media{
    width: 100vw;
    padding: 0 40vw;
    height: 3svh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.TheNorthRace{
    font-size: 0.9rem;
    width: 100vw;
    height: 15svh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #656D72;
}